<%= form_for @discount, html: {class: "col s12"} do |f| %>
  <div class="row">
    <% if @discount.errors.any? %>
      <div id="error_explanation">
        <h5>
          <%= pluralize(@discount.errors.count, "error") %> prohibited
          this discount from being saved:
        </h5>
        <ul class="collection">
          <% @discount.errors.full_messages.each do |msg| %>
            <li class="collection-item red-text text-darken-1"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="input-field col s12">
      <i class="mdi-editor-format-list-numbered prefix"></i>
      <%= f.label :name, 'Name', :class => 'active' %>
      <%= f.text_field :name, :class => 'validate' %>
    </div>
    <div class="input-field col s12 select-custom">
      <i class="mdi-editor-format-list-numbered prefix"></i>
      <%= f.label :code, 'Code', :class => 'active' %>
      <%= f.text_field :code, :class => 'validate' %>
    </div>

    <div class="input-field col s12 center-align">
      <%= f.submit "Hoàn tất", :class => 'waves-effect btn w150' %>
    </div>
  </div>
<% end %>
