<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="center-align">Sửa thông tin Discount</h2>
            <div class="row">
                <%= render 'form' %>
            </div>
            <a href="<%= discounts_path %>" class="waves-effect waves-light btn grey darken-3">
              <i class="mdi-hardware-keyboard-backspace"></i>
            </a>
        </div>
    </div>
</div>
