<div class="row">
    <div class="col s12">
        <h2 class="center-align">Danh sách Discount </h2>
        <a href="<%= new_discount_path %>" class="btn-floating btn-large waves-effect waves-light red tooltipped" data-position="top" data-delay="10" data-tooltip="Thêm phòng">
          <i class="mdi-action-store"></i>
        </a>
        <div id="filterDiscount" class="filter-discount">
          <table>
              <thead>
                <tr>
                  <th class="col s3" data-field="name">Ten</th>
                  <th class="col s3" data-field="code">Code</th>
                  <th class="col s3" data-field="action">Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <% @discounts.each do |discount| %>
                    <tr class="mix">
                      <td class="col s3"><%= discount.name %></td>
                      <td class="col s3 capz-text"><%= discount.code %></td>
                      <td class="col s3">
                        <%= link_to 'Xem', discount_path(discount) %> /
                        <%= link_to 'Sửa', edit_discount_path(discount) %> /
                        <%= link_to 'Xóa', discount_path(discount),
                            method: :delete,
                            data: { confirm: 'Bạn có chắc không?' } %>
                      </td>
                    </tr>
                <% end %>
              </tbody>
          </table>
        </div>
    </div>
</div>
