<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="center-align">Chi tiet</h2>
            <table>
                <thead>
                  <tr>
                    <th data-field="name">Ten</th>
                    <th data-field="code">Code</th>
                    <th data-field="action">Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td><%= @discount.name %></td>
                      <td class="capz-text"><%= @discount.code %></td>
                      <td>
                        <%= link_to 'Sửa', edit_discount_path(@discount) %> /
                        <%= link_to 'Xóa', discount_path(@discount),
                            method: :delete,
                            data: { confirm: 'Bạn có chắc không?' } %>
                      </td>
                    </tr>
                </tbody>
            </table>
            <a href="<%= discounts_path %>" class="waves-effect waves-light btn grey darken-3">
              <i class="mdi-hardware-keyboard-backspace"></i>
            </a>
        </div>
    </div>
</div>