<%= form_for @client, html: {class: "col s12"} do |f| %>
  <div class="row">
    <% if @client.errors.any? %>
      <div id="error_explanation">
        <h5>
          <%= pluralize(@client.errors.count, "error") %> prohibited
          this client from being saved:
        </h5>
        <ul class="collection">
          <% @client.errors.full_messages.each do |msg| %>
            <li class="collection-item red-text text-darken-1"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="input-field col s12">
      <i class="mdi-maps-location-history prefix"></i>
      <%= f.label :name, 'Tên', :class => 'active' %>
      <%= f.text_field :name, :class => 'validate' %>
    </div>

    <div class="input-field col s12">
      <i class="mdi-communication-phone prefix"></i>
      <%= f.label :phone, 'Số điện thoại', :class => 'active' %>
      <%= f.text_field :phone, minlength: 10,  maxlength: 11, :class => 'validate' %>
    </div>

    <div class="input-field col s12">
      <i class="mdi-action-store prefix"></i>
      <%= f.label :address, 'Địa chỉ', :class => 'active' %>
      <%= f.text_field :address, :class => 'validate' %>
    </div>

    <div class="input-field col s12">
      <i class="mdi-av-recent-actors prefix"></i>
      <%= f.label :p_id, 'Số CMND', :class => 'active' %>
      <%= f.text_field :p_id, minlength: 9,  maxlength: 11, :class => 'validate' %>
    </div>
   
    <div class="input-field col s12 center-align">
      <%= f.submit "Hoàn tất", :class => 'waves-effect btn w150' %>
    </div>
  </div>
<% end %>
