<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="center-align">Chỉnh sửa khách hàng</h2>
            <div class="row">
                <%= render 'form' %>
            </div>
            <a href="<%= clients_path %>" class="waves-effect waves-light btn grey darken-3">
              Quay lại
            </a>
        </div>
    </div>
</div>
