<div class="row">
    <div class="col s12">
        <h2 class="center-align">Danh sách khách hàng</h2>
        <a href="<%= new_client_path %>" class="btn-floating btn-large waves-effect waves-light red tooltipped" data-position="top" data-delay="10" data-tooltip="Thêm khách hàng">
            <i class="mdi-social-person-add"></i>
        </a>
        <table>
            <thead>
              <tr>
                  <th data-field="name">Tên</th>
                  <th data-field="phone">Số điện thoại</th>
                  <th data-field="address">Địa chỉ</th>
                  <th data-field="p_id">Số CMND</th>
              </tr>
            </thead>
            <tbody>
              <% @clients.each do |client| %>
                <tr>
                  <td><%= client.name %></td>
                  <td><%= client.phone %></td>
                  <td><%= client.address %></td>
                  <td><%= client.p_id %></td>
                  <td>
                  <%= link_to 'Xem', client_path(client) %> /
                  <%= link_to 'Sửa', edit_client_path(client) %> /
                  <%= link_to 'Xóa', client_path(client),
                      method: :delete,
                      data: { confirm: 'Bạn có chắc không?' } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
        <div class="divider custom-divider"></div>
        <%= will_paginate @clients %>
    </div>
</div>
