<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="center-align">Khách hàng #<%= @client.id %></h2>
            <table>
                <thead>
                  <tr>
                    <th data-field="name">Tên</th>
                    <th data-field="phone">Số điện thoại</th>
                    <th data-field="address">Địa chỉ</th>
                    <th data-field="p_id">Số CMND</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td><%= @client.name %></td>
                      <td><%= @client.phone %></td>
                      <td><%= @client.address %></td>
                      <td><%= @client.p_id %></td>
                      <td>
                        <%= link_to 'Sửa', edit_client_path(@client) %> /
                        <%= link_to 'Xóa', client_path(@client),
                            method: :delete,
                            data: { confirm: 'Bạn có chắc không?' } %>
                      </td>
                    </tr>
                </tbody>
            </table>
            <a href="<%= clients_path %>" class="waves-effect waves-light btn grey darken-3">
              <i class="mdi-hardware-keyboard-backspace"></i>
            </a>
        </div>
    </div>
</div>