<%= form_for @price, html: {class: "col s12"} do |f| %>
  <div class="row">
    <% if @price.errors.any? %>
      <div id="error_explanation">
        <h5>
          <%= pluralize(@price.errors.count, "error") %> prohibited
          this price from being saved:
        </h5>
        <ul class="collection">
          <% @price.errors.full_messages.each do |msg| %>
            <li class="collection-item red-text text-darken-1"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="input-field col s12 select-custom">
      <i class="mdi-device-access-time prefix"></i>
      <%= f.select :time, [['Thời gian', ''], ['1h', '1h'], ['1h+', '1h+'], ['Qua đêm', 'overnight'], ['Ngày', 'day']] %>
    </div>

    <div class="input-field col s12 select-custom">
      <i class="mdi-maps-local-atm prefix"></i>
      <%= f.select :price_type, [['Loại giá', ''], ['VIP', 'vip'], ['Normal', 'normal'], ['Other', 'other']] %>
    </div>

    <div class="input-field col s12">
      <i class="mdi-editor-attach-money prefix"></i>
      <%= f.label :price_value, 'Gia', :class => 'active' %>
      <%= f.text_field :price_value, :class => 'validate' %>
    </div>
    <div class="input-field col s12 center-align">
      <%= f.submit "Hoàn tất", :class => 'waves-effect btn w150' %>
    </div>
  </div>
<% end %>
