<div class="row">
    <div class="col s12">
        <h2 class="center-align">Giá phòng</h2>
        <a href="<%= new_price_path %>" class="btn-floating btn-large waves-effect waves-light red tooltipped" data-position="top" data-delay="10" data-tooltip="Thêm giá">
          <i class="mdi-editor-attach-money"></i>
        </a>
        <table>
            <thead>
              <tr>
                  <th data-field="time">Loại giá</th>
                  <th data-field="price_type">Loại phòng</th>
                  <th data-field="price_value">Giá</th>
                  <th data-field="action">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <% @prices.each do |price| %>
                <tr>
                  <td><%= price.time %></td>
                  <td class="capz-text"><%= price.price_type %></td>
                  <td><%= number_to_currency(price.price_value, unit: 'VND ') %></td>
                  <td>
                  <%= link_to 'Xem', price_path(price) %> /
                  <%= link_to 'Sửa', edit_price_path(price) %> /
                  <%= link_to 'Xóa', price_path(price),
                      method: :delete,
                      data: { confirm: 'Bạn có chắc không?' } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
        <div class="divider custom-divider"></div>
    </div>
</div>
