<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="center-align">Chi tiết giá</h2>
            <table>
                <thead>
                  <tr>
                    <th data-field="time">Loại giá</th>
                    <th data-field="price_type">Loại phòng</th>
                    <th data-field="price_value">Giá</th>
                    <th data-field="action">Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td><%= @price.time %></td>
                      <td class="capz-text"><%= @price.price_type %></td>
                      <td><%= number_to_currency(@price.price_value, unit: 'VND ') %></td>
                      <td>
                        <%= link_to 'Sửa', edit_price_path(@price) %> /
                        <%= link_to 'Xóa', price_path(@price),
                            method: :delete,
                            data: { confirm: 'Bạn có chắc không?' } %>
                      </td>
                    </tr>
                </tbody>
            </table>
            <a href="<%= prices_path %>" class="waves-effect waves-light btn grey darken-3">
              <i class="mdi-hardware-keyboard-backspace"></i>
            </a>
        </div>
    </div>
</div>