<!DOCTYPE html>
<html>
<head>
  <title>Tuphuong</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>_<%= action_name %>">
    <%= render "general/header" %>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, id: 'flash-notice', class: 'card-panel teal white-text' %>
    <% end -%>
    <div id="main-container" class="main-container">
        <%= yield %>
    </div>
    <%= render "general/footer" %>

    <script>
      $(document).ready(function(){
        $('#flash-notice').show().fadeOut(5000)
      });
    </script>

</body>
</html>
