<div class="row row-room">
  <% @rooms.each do |room| %>
      <div class="col s12 m6 l3">
            <div class="<%= room.room_class %>">
              <div class="card-content white-text">
                <div class="room-header">
                  <span class="card-title"><%= room.number %></span>
                  <% if room.room_type === 'vip' %>
                    <span class="room-vip"></span>
                  <% end %>
                  <p class="right">
                    <i class="<%= room.icon_status %>" title='<%= room.status %>'></i>
                  </p>
                </div>
                <% @rent_total_price = 0 %>
                <% if room.status!= 'empty' and room.active_rent_id and (room.active_rent_id.to_i > 0) and @rent_for_room = room.rents.find(room.active_rent_id.to_i)
                      @rent_total_price = @rent_for_room.total_price.to_i
                      if @rent_for_room.client_id and @rent_for_room.client_id.to_i > 0 and @client_for_room = Client.find(@rent_for_room.client_id.to_i) %>
                          <p>KH:
                            <span class="right"><%= @client_for_room.name %> - <%= @client_for_room.rent_count %> lần</span>
                          </p>
                    <% elsif room.status == 'full' %>
                      <div class="room-info-clients" id="client_info_<%= room.id %>">
                        <div class="input-field">
                          <input id="add_client_name_<%= room.id %>" type="text">
                          <label for="add_client_name_<%= room.id %>">Tên khách hàng</label>
                        </div>
                        <div class="input-field">
                          <input id="add_client_p_id_<%= room.id %>" type="text">
                          <label for="aadd_client_p_id_<%= room.id %>">Số CMND</label>
                        </div>
                        <div class="action-input-info">
                            <button class="waves-effect waves-light btn" onclick="javascript:addClient('<%= room.id %>');">Xong</button>
                        </div>
                      </div>
                    <% end %>
                      <p>In: <%= @rent_for_room.start_at.strftime("%Hh%M-%m/%d") %>
                        <% if @rent_for_room.end_at %>
                           <span class="right"> Out: <%= @rent_for_room.end_at.strftime("%Hh%M-%m/%d") %></span>
                        <% end %>
                      </p>
                    <p>Cách thuê:
                      <span class="right"><%= @rent_for_room.vn_type %></span>
                    </p>
                    <% if @rent_for_room.total_price %>
                        <p class="right-align btn-discount">
                          <button class="waves-effect waves-light btn" onclick="javascript:showDiscount('<%= @rent_for_room.id %>');">Giảm giá</button>
                        </p>
                        <div class="form_discount" style="display:none;" id="discount_<%= @rent_for_room.id %>">
                            <input id='room_id_<%= @rent_for_room.id %>' type='hidden' value='<%= room.id %>'>
                            <div class="input-field">
                              <input id="name_<%= @rent_for_room.id %>" type="text">
                              <label for="name_<%= @rent_for_room.id %>">Tên</label>
                            </div>
                            <div class="input-field">
                              <input id="code_<%= @rent_for_room.id %>" type="password">
                              <label for="code_<%= @rent_for_room.id %>">Code</label>
                            </div>
                            <div class="input-field">
                              <input id="price_<%= @rent_for_room.id %>" type="text">
                              <label for="price_<%= @rent_for_room.id %>">Giá tiền giảm</label>
                            </div>
                            <div class="input-field">
                              <button class="waves-effect waves-light btn" onclick="javascript:discount('<%= @rent_for_room.id %>');">Giảm giá</button>
                            </div>
                        </div>
                    <% end %>
                      
                    <% if room.status == 'full' %>
                      <button class="waves-effect waves-light btn" onclick="javascript:updateRent('<%= room.id %>','<%= @rent_for_room.id %>');">Tính tiền</button>
                    <% end %>
                <% end %>
                <% if room.status == 'empty' %>
                    <button class="waves-effect waves-green btn" onclick="javascript:createRent('<%= room.id %>', '1h')">Thuê theo giờ</button> <br><br>
                    <button class="waves-effect waves-green btn" onclick="javascript:createRent('<%= room.id %>', 'overnight')">Thuê qua đêm</button> <br><br>
                    <button class="waves-effect waves-green btn" onclick="javascript:createRent('<%= room.id %>', 'day')">Thuê ngày</button>
                <% elsif room.status == 'cleaning' %>
                    <p class="btn-complete">
                      <button onclick="javascript:updateRoom('<%= room.id %>','empty');" class="waves-effect waves-green btn">Dọn xong</button>
                    </p>
                <% else %>
                <% end %>
                <% if @rent_total_price > 0 %>
                    <i class="medium"><%= number_to_currency(@rent_for_room.total_price, precision: 0, unit: '', format: "%n %u")  %></i>
                <% end %>
              </div>
            </div>
      </div>
  <% end %>
</div>

<script>
  var updateRoom = function(room_id,room_status){
      $.ajax({
        url: "rooms/"+ room_id,
        method: 'PUT',
        data:{'format' : 'json','room_status': room_status},
        dataType: "json"
      }).done(function() {
        Materialize.toast('Cập nhật thành công', 800, '', function(){location.reload()});
      })
      .fail(function(){
        Materialize.toast('Cập nhật không thành công', 800);
      })
      ;
    }
    var createRent = function(room_id,rent_type){
      $.ajax({
        url: "rooms/"+ room_id + '/rents',
        method: 'POST',
        data:{'format' : 'json','room_id' : room_id,'rent_type': rent_type},
        dataType: "json"
      }).done(function() {
        Materialize.toast('Cho thue thành công', 800, '', function(){location.reload()});
      })
      .fail(function(){
        Materialize.toast('Cập nhật không thành công', 800);
      })
      ;
    }
    var updateRent = function(room_id,rent_id){
      $.ajax({
        url: "rooms/"+ room_id + '/rents/'+ rent_id,
        method: 'PUT',
        data:{'format' : 'json','room_id' : room_id,'rent': {'id' : rent_id}},
        dataType: "json"
      }).done(function() {
        Materialize.toast('Cập nhật thành công', 800, '', function(){location.reload()});
      })
      .fail(function(){
        Materialize.toast('Cập nhật không thành công', 800);
      })
      ;
    }
    var addClient = function (room_id){
      var client_name = $('#add_client_name_' + room_id).val();
        var client_p_id = $('#add_client_p_id_' + room_id).val();
        if(client_name == '' || client_p_id == ''){
          Materialize.toast('Nhap ten va CMND', 800);
          return;
        }
        $.ajax({
            url: 'clients',
            method: 'POST',
            data:{'format' : 'json','room_id' : room_id,'client_name': client_name,'client_p_id': client_p_id},
            dataType: "json"
          }).done(function() {
            Materialize.toast('Cập nhật thành công', 800 ,'', function(){location.reload()});
          })
          .fail(function(){
            Materialize.toast('Cập nhật không thành công', 800);
          })
          ;
    }
    var showDiscount = function (rent_id){
        $('#discount_' + rent_id).toggle();
    }
    var discount = function(rent_id){
        var room_id = $('#room_id_' + rent_id).val();
        var name = $('#name_' + rent_id).val();
        var code = $('#code_' + rent_id).val();
        var price = $('#price_' + rent_id).val();
        if(name == '' || code == '' || price == ''){
          Materialize.toast('Vui long nhap day du thong tin', 800);
          return;
        }
        $.ajax({
            url: 'discounts',
            method: 'POST',
            data:{'format' : 'json','room_id' : room_id, 'rent_id': rent_id ,'name': name,'code': code ,'price' : price},
            dataType: "json"
          }).done(function() {
            Materialize.toast('Cập nhật thành công', 800 ,'', function(){location.reload()});
          })
          .fail(function(){
            Materialize.toast('Cập nhật không thành công', 800);
          })
          ;
    }
</script>



