<%= form_for @role, html: {class: "col s12"} do |f| %>
  <div class="row">
    <% if @role.errors.any? %>
      <div id="error_explanation">
        <h5>
          <%= pluralize(@role.errors.count, "error") %> prohibited
          this role from being saved:
        </h5>
        <ul class="collection">
          <% @role.errors.full_messages.each do |msg| %>
            <li class="collection-item red-text text-darken-1"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="input-field col s12">
      <i class="mdi-action-account-circle prefix"></i>
      <%= f.label :name, 'Tên', :class => 'active' %>
      <%= f.text_field :name, :class => 'validate' %>
    </div>

    <div class="input-field col s12">
      <i class="mdi-action-description prefix"></i>
      <%= f.label :description, 'Mô tả', :class => 'active' %>
      <%= f.text_field :description, :class => 'validate' %>
    </div>


    <div class="input-field col s12 center-align">
      <%= f.submit "Hoàn tất", :class => 'waves-effect btn w150' %>
    </div>
  </div>
<% end %>
