<div class="row">
    <div class="col s12">
        <h2 class="center-align">Danh sách role</h2>
        <a href="<%= new_role_path %>" class="btn-floating btn-large waves-effect waves-light red tooltipped" data-position="top" data-delay="10" data-tooltip="Thêm role">
            <i class="mdi-hardware-security"></i>
        </a>
        <table>
          <thead>
            <tr>
              <th data-field="role_name">Tên</th>
              <th data-field="role_description">Mô tả</th>
              <th data-field="action">Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <% @roles.each do |role| %>
                <tr>
                  <td><%= role.name %></td>
                  <td><%= role.description %></td>
                  <td>
                    <%= link_to 'Xem', role_path(role) %> /
                    <%= link_to 'Sửa', edit_role_path(role) %> /
                    <%= link_to 'Xóa', role_path(role),
                        method: :delete,
                        data: { confirm: 'Bạn có chắc không?' } %>
                  </td>
                </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>
