<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="center-align">Role #<%= @role.id %></h2>
            <table>
              <thead>
                <tr>
                  <th data-field="role_name">Tên</th>
                  <th data-field="role_description">Mô tả</th>
                  <th data-field="action">Thao tác</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td><%= @role.name %></td>
                    <td><%= @role.description %></td>
                    <td>
                      <%= link_to 'Xem', role_path(@role) %> /
                      <%= link_to 'Sửa', edit_role_path(@role) %> /
                      <%= link_to 'Xóa', role_path(@role),
                          method: :delete,
                          data: { confirm: 'Bạn có chắc không?' } %>
                    </td>
                  </tr>
              </tbody>
            </table>
            <a href="<%= roles_path %>" class="waves-effect waves-light btn grey darken-3">
              <i class="mdi-hardware-keyboard-backspace"></i>
            </a>
        </div>
    </div>
</div>