/* GENERAL */
/* ======================================= */
.w150 {
    min-width: 150px;
}

.s30 {
  font-size: 2rem;
}

.mr-15 {
  margin-right: 15px;
}

.custom-divider {
    margin: 15px 0;
}

#flash-notice {
    margin: 0;
    position: absolute;
    right: 10px;
    top: 76px;
}

.select-custom .select-wrapper {
    margin-left: 3rem;
}

.select-custom .field_with_errors input.select-dropdown {
    border-color: #e53935;
}

.modal .modal-footer {
    padding-left: 24px;
    padding-right: 24px;
}

#toast-container {
    left: 0;
    right: 10px;
    top: 66px;
}

.toast {
    background-color: #009688;
    padding: 20px;
}

/* PAGING */
/* ======================================= */
div.pagination > a,
div.pagination > em,
div.pagination > span {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 2px;
  text-align: center; 
}

div.pagination > a {
  color: #444; 
}

div.pagination > em {
  background-color: #ee6e73; 
  color: #fff; 
}

div.pagination span.disabled {
  cursor: default;
  color: #999; 
}

/* HEADER */
/* ======================================= */
.page-header {
    margin-bottom: 20px;
}

/* LIST ROOM */
/* ======================================= */
.row-room .s3:nth-child(4n+1) {
    /*clear: both; */
}

/* MODULE USER */
/* ======================================= */
.welcome-user {
    padding: 0 15px;
}

/* MODULE HOME */
/* ======================================= */
.filter-room .modal a.btn-close {
    height: auto;
    line-height: normal;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
}

.filter-room .modal a.btn-close i {
    color: #26a69a;
    font-size: 2rem;
}

/* MODULE PRICES AND ROOMS */
/* ======================================= */
.capz-text {
    text-transform: capitalize;
}

.home_index .filter-room {
    overflow: hidden;
}

.filter-room .mix {
  display: none;
}

.filter-room table th.col,
.filter-room table td.col {
    padding: 15px 5px;
}

.filter-room table tr.th-filter td {
    padding: 0;
}

.filter-room .form-filters fieldset {
    border: none;
    display: inline-block;
    margin: 0;
    padding: 0 20px 0 0;
}

.form-filters .select-wrapper input.select-dropdown {
    padding-left: 5px;
    text-transform: capitalize;
}

.form-filters .dropdown-content li {
    text-transform: capitalize;
}

.btn-reset {
    margin-left: 5px;
    margin-top: 10px;
}

.home-filters .active {
    background-color: #00796b;
}

.datetime_select div.select-wrapper {
  float: left;
  margin-right: 10px;
}

.card .card-content {
  min-height: 370px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.room-vip {
  background: url(vip.jpg);
  display: block;
  height: 54px;
  position: absolute;
  right: 60px;
  top: 0;
  width: 100px;
}

.card-content .input-field input,
.card-content .input-field label {
  color: #fff !important;
}

.card-content .input-field input {
  border-bottom: 1px solid #fcfcfc !important;
  box-shadow: none !important;
}

.card-content label {
  left: 0;
}

.action-input-info {
  margin: 5px 0 15px;
}

.card-content .edit_rent {
  margin: 15px 0 10px;
}

.room-header {
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}

.btn-discount {
  padding-bottom: 10px;
}

.btn-complete {
  padding: 15px 0;
}

.form_discount button {
  margin-bottom: 15px;
}

.select-user {
  margin-top: -10px;
}