<h2 class="center-align">Đăng nhập</h2>
<%= form_tag '/login' do %>
  <div class="row">
    <div class="input-field col s12">
      <i class="mdi-action-account-circle prefix"></i>
      <%= label_tag :username, "Tên đăng nhập"%>
      <%= text_field_tag :username, nil, :class => 'validate' %>
    </div>
    <div class="input-field col s12">
      <i class="mdi-action-lock-outline prefix"></i>
      <%= label_tag :password, "Mật khẩu" %>
      <%= password_field_tag :password, nil, :class => 'validate' %>
    </div>
    <div class="input-field col s12 center-align">
      <a href="#" class="btn red darken-1 modal-close w150">Hủy</a> &nbsp;
      <%= submit_tag "Đăng nhập", :class => 'waves-effect btn modal-action modal-close w150' %>
    </div>
  </div>
<% end %>