<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h6 class="white-text">Địa chỉ: 31/11 - 13 Phạm Phú Thứ, P 11, Q. Tân Bình, HCM</h6>
        <p class="grey-text text-lighten-4">Tiếp tân: 0918.272.729 - Đặt phòng: (08) 38691.690 - Fax: (08) 38691.575</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © <%= Date.today.year %> Tú Phương Hotel
    </div>
  </div>
</footer>
            