<nav class="page-header">
    <div class="nav-wrapper">
        <div class="row">
          <div class="col s12">
            <%= link_to 'Tú Phương Hotel', root_path, :class => 'brand-logo center' %>
            <ul class="left hide-on-med-and-down">
              <li class="<%= 'active' if params[:controller] == 'home' %>">
                <%= link_to 'Home', root_path %>
              </li>
              <% if current_user %>
                <% if current_user.role.name === 'admin' %>
                  <li class="<%= 'active' if params[:controller] == 'rooms' %>">
                    <%= link_to 'Room', controller: 'rooms' %>
                  </li>
                  <li class="<%= 'active' if params[:controller] == 'prices' %>">
                    <%= link_to 'Price', controller: 'prices' %>
                  </li>
                  <li class="<%= 'active' if params[:controller] == 'users' %>">
                    <%= link_to 'User', controller: 'users' %>
                  </li>
                  <li class="<%= 'active' if params[:controller] == 'clients' %>">
                    <%= link_to 'Client', controller: 'clients' %>
                  </li>
                  <li class="<%= 'active' if params[:controller] == 'roles' %>">
                    <%= link_to 'Role', controller: 'roles' %>
                  </li>
                  <li class="<%= 'active' if params[:controller] == 'rents' && params[:action] == 'report' %>">
                    <%= link_to 'Report', '/report' %>
                  </li>
                <% end %>
              <% end %>
            </ul>
            <ul class="right hide-on-med-and-down">
              <% if current_user %>
                <li class="welcome-user">Hello <%= current_user.username %></li> 
                <li><%= link_to "Logout", '/logout' %></li>
              <% else %>
                <li><%= link_to 'Đăng nhập', '/login' %></li> 
              <% end %>
            </ul>
          </div>
        </div>
    </div>
</nav>