<%= form_for ([@room, @room.rents.build]), html: {class: "col s12"} do |f| %>
  <div class="row">
    <% if @rent.errors.any? %>
      <div id="error_explanation">
        <h5>
          <%= pluralize(@rent.errors.count, "error") %> prohibited
          this rent from being saved:
        </h5>
        <ul class="collection">
          <% @rent.errors.full_messages.each do |msg| %>
            <li class="collection-item red-text text-darken-1"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="input-field col s12 select-custom">
      <i class="mdi-action-verified-user prefix"></i>
      <%= f.select :rent_type, [['Chọn cách thuê', ''], ['Theo giờ', '1h'], ['Qua đêm', 'overnight']] %>
    </div>

    <div class="input-field col s12 select-custom">
      <i class="mdi-action-verified-user prefix"></i>
      <%= collection_select(:rent, :client_id, Client.all, :id, :name, {:prompt => 'Chọn khách hàng'}) %>
    </div>

    <div class="input-field col s12 select-custom datetime_select">
      <i class="prefix"></i>
      <%= f.datetime_select(:start_at, :default => { :hour => 23, :minute => 59 }) %>
    </div>

    <input type="hidden" name="rent[user_id]" value="0">
    <input type="hidden" name="rent[price_id]" value="1">
    <input type="hidden" name="rent[end_at]" value="0">
    <input type="hidden" name="rent[tmp_price]" value="0">
    <input type="hidden" name="rent[total_price]" value="0">

    <div class="input-field col s12 center-align">
      <%= f.submit "Hoàn tất", :class => 'waves-effect btn w150' %>
    </div>
  </div>
<% end %>
