<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="center-align">Tính tiền #<%= @room.number %></h2>
            <ul>
                <li>
                    <h4>Loại phòng : <%= @room.room_type %></h4>
                </li>
                <li>
                    <h4>Giá phòng : </h4>
                    <ul>
                        <% Price.where(:price_type => @room.room_type).all.each do |price_for_room| %>
                            <li><%= price_for_room.time %> giá :  <%= number_to_currency(price_for_room.price_value, unit: 'VND ') %></li>
                        <% end %>
                    </ul>
                </li>
                <li>
                    <h4>Thời gian vào thuê: <%= @rent.start_at %> </h4>
                </li>
                <li>
                    <h4>Kiểu thuê: 
                        <% if @rent.rent_type == '1h' %>
                            Theo giờ
                        <% else %>
                            Qua đêm
                        <% end %> 
                    </h4>
                </li>
                <li>
                    
                    <%= form_for ([@room, @rent]), html: {class: "col s12"} do |f| %>
                        <% if @rent.rent_type == '1h' %>
                            <div class="input-field col s12">
                              <%= f.label :total_hours, 'So gio thue', :class => 'active' %>
                              <%= f.text_field :total_hours, :class => 'validate', :value => 2 %>
                            </div>
                            <div class="input-field col s12">
                              <i class="mdi-editor-attach-money prefix"></i>
                              <%= f.label :total_price, 'Tổng tiền :  ', :class => 'active' %>
                              <%= f.text_field :total_price, :class => 'validate', :value => '350.000' %>
                            </div>
                        <% else %>
                            <h4>Tổng tiền : VND 400.000</h4>
                        <% end %> 
                        <input type="hidden" name="rent[user_id]" value="<%= @rent.user_id %>">
                        <input type="hidden" name="rent[price_id]" value="<%= @rent.price_id %>">
                        <input type="hidden" name="rent[end_at]" value="<%= @rent.end_at %>">
                        <input type="hidden" name="rent[tmp_price]" value="<%= @rent.tmp_price %>">
                        <input type="hidden" name="rent[total_price]" value="<%= @rent.total_price %>">

                        <div class="input-field col s12 center-align">
                          <%= f.submit "Hoàn tất", :class => 'waves-effect btn w150' %>
                        </div>
                    <% end %>
                </li>
            </ul>
            <div class="row">
                

            </div>
            <a href="/" class="waves-effect waves-light btn grey darken-3">
              Quay lại
            </a>
        </div>
    </div>
</div>
