<div class="row">
    <div class="col s12">
        <h2 class="center-align">Lịch sử thuê phòng</h2>
        <a href="<%= new_room_rent_path %>" class="btn-floating btn-large waves-effect waves-light red">
            <i class="mdi-social-person-add"></i>
        </a>
        <table>
            <thead>
              <tr>
                  <th data-field="room_id">Số phòng</th>
                  <th data-field="user_name">Nhân viên</th>
                  <th data-field="client_id">Khách hàng</th>
                  <th data-field="start_at">Giờ vào</th>
                  <th data-field="end_at">Giờ ra</th>
                  <th data-field="tmp_price">Giá tạm tính</th>
                  <th data-field="total_price">Giá thanh toán</th>
                  <th data-field="action">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <% @rents.each do |rent| %>
                <tr>
                  <td><%= rent.room.number %></td>
                  <td><%= (rent.user)? rent.user.fullname : '--' %></td>
                  <td><%= (rent.client)? rent.client.name : '--' %></td>
                  <td><%= rent.start_at %></td>
                  <td><%= rent.end_at %></td>
                  <td><%= rent.tmp_price %></td>
                  <td><%= rent.total_price %></td>
                  <td class="col s3">
                        <%= link_to 'Xóa', [rent.room,rent],
                            method: :delete,
                            data: { confirm: 'Bạn có chắc không?' } %>
                      </td>
                </tr>
              <% end %>
            </tbody>
        </table>
        <div class="divider custom-divider"></div>
    </div>
</div>
