<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="center-align">Cho thuê phòng #<%= @room.number %></h2>
            <ul>
                <li>
                    <h4>Loại phòng : <%= @room.room_type %></h4>
                </li>
                <li>
                    <h4>Giá phòng : </h4>
                    <ul>
                        <% Price.where(:price_type => @room.room_type).all.each do |price_for_room| %>
                            <li><%= price_for_room.time %> giá :  <%= number_to_currency(price_for_room.price_value, unit: 'VND ') %></li>
                        <% end %>
                    </ul>
                </li>
            </ul>
            <div class="row">
                <%= render 'form' %>
            </div>
            <a href="/" class="waves-effect waves-light btn grey darken-3">
              Quay lại
            </a>
        </div>
    </div>
</div>
