<% if current_user and current_user.role.name === 'admin' %>
  <div class="row">
      <div class="col s12">
          <h2 class="center-align">Report</h2>
          <!-- <%= link_to 'Link download report', url_for(:format=>"xlsx") %> -->
          <div class="row">
              <form method="GET" action="<%= report_path %>">
                  <select class="left select-user mr-15" name="get_date_type">
                    <option value="" >Xem tất cả</option>
                    <option value="today" <% if @get_date_type == 'today' %> selected = 'selected' <% end %>>Xem trong ngày</option>
                    <option value="month" <% if @get_date_type == 'month' %> selected = 'selected' <% end %>>Xem trong tháng</option>
                  </select>
                  <select class="left select-user mr-15" name="get_user_id">
                    <option value="">Tất cả nhân viên</option>
                    <% @users.each do |user_tmp| %>
                      <option <% if user_tmp.id.to_i == @get_user_id.to_i %> selected = 'selected' <% end %> value="<%= user_tmp.id %>"><%= user_tmp.fullname %></option>
                    <% end %>
                  </select>
                  
                  <button type="submit" class="waves-effect btn w150">Xem</button>
              </form>
          </div>
          <table>
              <thead>
                <tr>
                    <th data-field="room_id">Số phòng</th>
                    <th data-field="user_name">Nhân viên</th>
                    <th data-field="client_id">Khách hàng</th>
                    <th data-field="p_id">Số CMND</th>
                    <th data-field="start_at">Giờ vào</th>
                    <th data-field="end_at">Giờ ra</th>
                    <th data-field="total_price">Tiền thanh toán</th>
                </tr>
              </thead>
              <tbody>
                <% @reports.each do |rent| %>
                  <tr>
                    <td><%= rent.room.number %></td>
                    <td><%= (rent.user)? rent.user.fullname : '--' %></td>
                    <td><%= (rent.client)? rent.client.name : '--' %></td>
                    <td><%= (rent.client)? rent.client.p_id : '--' %></td>
                    <td><%= (rent.start_at)? rent.start_at.strftime(" %Hh%M - %m/%d/%Y") : '' %></td>
                    <td><%= (rent.end_at)? rent.end_at.strftime(" %Hh%M - %m/%d/%Y") : '' %></td>
                    <td>
                      <%= number_to_currency(rent.total_price, precision: 0, unit: 'VND', format: "%n %u")  %>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <td colspan="6" class="right-align">Tổng cộng:</td>
                  <td>
                    <b><%= number_to_currency(@reports.sum(:total_price), precision: 0, unit: 'VND', format: "%n %u")  %></b>
                  </td>
                </tr>
              </tbody>
          </table>
          <div class="divider custom-divider"></div>
        <%= will_paginate @reports %>
      </div>
  </div>
<% else %>
  <div class="center"><h3>Ban khong co quyen xem trang nay</h3></div>
<% end %> 
