<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="center-align">Chi tiet Gia </h2>
            <table>
                <thead>
                  <tr>
                    <th data-field="time">Loai gia</th>
                    <th data-field="rent_type">Loai phong</th>
                    <th data-field="rent_value">Gia</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td><%= @rent.time %></td>
                      <td><%= @rent.rent_type %></td>
                      <td><%= number_to_currency(@rent.rent_value, unit: 'VND ') %></td>
                      <td>
                        <%= link_to 'Sửa', edit_rent_path(@rent) %> /
                        <%= link_to 'Xóa', rent_path(@rent),
                            method: :delete,
                            data: { confirm: 'Bạn có chắc không?' } %>
                      </td>
                    </tr>
                </tbody>
            </table>
            <a href="<%= room_rent_path %>" class="waves-effect waves-light btn grey darken-3">
              <i class="mdi-hardware-keyboard-backspace"></i>
            </a>
        </div>
    </div>
</div>