<%= form_for @room, html: {class: "col s12"} do |f| %>
  <div class="row">
    <% if @room.errors.any? %>
      <div id="error_explanation">
        <h5>
          <%= pluralize(@room.errors.count, "error") %> prohibited
          this room from being saved:
        </h5>
        <ul class="collection">
          <% @room.errors.full_messages.each do |msg| %>
            <li class="collection-item red-text text-darken-1"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="input-field col s12">
      <i class="mdi-editor-format-list-numbered prefix"></i>
      <%= f.label :number, 'Số phòng', :class => 'active' %>
      <%= f.text_field :number, :class => 'validate' %>
    </div>

    <div class="input-field col s12 select-custom">
      <i class="mdi-av-recent-actors prefix"></i>
      <%= f.select :room_type, [['Chọn loại phòng', ''], ['VIP', 'vip'], ['Normal', 'normal'], ['Other', 'other']] %>
    </div>

    <div class="input-field col s12 select-custom">
      <i class="mdi-action-spellcheck prefix"></i>
      <%= f.select :status, [['Chọn trạng thái', ''], ['Empty', 'empty'], ['Full', 'full'], ['Cleaning', 'cleaning']] %>
    </div>

    <div class="input-field col s12 center-align">
      <%= f.submit "Hoàn tất", :class => 'waves-effect btn w150' %>
    </div>
  </div>
<% end %>
