<div class="row">
    <div class="col s12">
        <h2 class="center-align">Danh sách phòng</h2>
        <a href="<%= new_room_path %>" class="btn-floating btn-large waves-effect waves-light red tooltipped" data-position="top" data-delay="10" data-tooltip="Thêm phòng">
          <i class="mdi-action-store"></i>
        </a>
        <div id="filterRoom" class="filter-room">
          <table>
              <thead>
                <tr>
                  <th class="col s3" data-field="number">Số phòng</th>
                  <th class="col s3" data-field="room_type">Loại phòng</th>
                  <th class="col s3" data-field="status">Trạng Thái</th>
                  <th class="col s3" data-field="action">Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <tr class="th-filter">
                  <td colspan="4">
                    <form id="formFilters" class="form-filters">
                      <fieldset class="col s3">
                        <select>
                          <option value="">Tất cả tầng</option>
                          <% @floors.each do |floor| %>
                            <option value=".floor-<%= floor %>">Tầng <%= floor %></option>
                          <% end %>
                        </select>
                      </fieldset>
                      <fieldset class="col s3">
                        <select>
                          <option value="">Tất cả</option>
                          <% @types.each do |type| %>
                            <option value=".<%= type %>"><%= type %></option>
                          <% end %>
                        </select>
                      </fieldset>
                      <fieldset class="col s3">
                        <select>
                          <option value="">Tất cả</option>
                          <% @status.each do |status| %>
                            <option value=".<%= status %>"><%= status %></option>
                          <% end %>
                        </select>
                      </fieldset>
                      <button class="waves-effect waves-light btn btn-reset" id="btnReset">
                        Hủy bộ lọc
                      </button>
                    </form>
                  </td>
                </tr>
                <% @rooms.each do |room| %>
                    <tr class="mix floor-<%= room.number[0] %> <%= room.room_type %> <%= room.status %>">
                      <td class="col s3"><%= room.number %></td>
                      <td class="col s3 capz-text"><%= room.room_type %></td>
                      <td class="col s3 capz-text"><%= room.status %></td>
                      <td class="col s3">
                        <%= link_to 'Xem', room_path(room) %> /
                        <%= link_to 'Sửa', edit_room_path(room) %> /
                        <%= link_to 'Xóa', room_path(room),
                            method: :delete,
                            data: { confirm: 'Bạn có chắc không?' } %>
                      </td>
                    </tr>
                <% end %>
              </tbody>
          </table>
        </div>
    </div>
</div>
