<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="center-align">Phòng <%= @room.number %></h2>
            <table>
                <thead>
                  <tr>
                    <th data-field="number">Số phòng</th>
                    <th data-field="room_type">Loại phòng</th>
                    <th data-field="status">Trạng Thái</th>
                    <th data-field="action">Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td><%= @room.number %></td>
                      <td class="capz-text"><%= @room.room_type %></td>
                      <td class="capz-text"><%= @room.status %></td>
                      <td>
                        <%= link_to 'Sửa', edit_room_path(@room) %> /
                        <%= link_to 'Xóa', room_path(@room),
                            method: :delete,
                            data: { confirm: 'Bạn có chắc không?' } %>
                      </td>
                    </tr>
                </tbody>
            </table>
            <a href="<%= rooms_path %>" class="waves-effect waves-light btn grey darken-3">
              <i class="mdi-hardware-keyboard-backspace"></i>
            </a>
        </div>
    </div>
</div>