<%= form_for @user, html: {class: "col s12"} do |f| %>
  <div class="row">
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h5>
          <%= pluralize(@user.errors.count, "error") %> prohibited
          this user from being saved:
        </h5>
        <ul class="collection">
          <% @user.errors.full_messages.each do |msg| %>
            <li class="collection-item red-text text-darken-1"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="input-field col s12">
      <i class="mdi-communication-email prefix"></i>
      <%= f.label :email, :class => 'active' %>
      <%= f.email_field :email, :class => 'validate' %>
    </div>

    <div class="input-field col s12">
      <i class="mdi-action-account-circle prefix"></i>
      <%= f.label :username, 'Tên đăng nhập', :class => 'active' %>
      <%= f.text_field :username, :class => 'validate' %>
    </div>

    <div class="input-field col s12">
      <i class="mdi-image-tag-faces prefix"></i>
      <%= f.label :fullname, 'Tên đầy đủ', :class => 'active' %>
      <%= f.text_field :fullname, :class => 'validate' %>
    </div>

    <div class="input-field col s12">
      <i class="mdi-action-lock-outline prefix"></i>
      <%= f.label :password, 'Mật khẩu', :class => 'active' %>
      <%= f.password_field :password, :class => 'validate' %>
    </div>

    <div class="input-field col s12">
      <i class="mdi-action-lock prefix"></i>
      <%= f.label :password_confirmation, 'Nhập lại mật khẩu', :class => 'active' %>
      <%= f.password_field :password_confirmation, :class => 'validate' %>
    </div>

    <div class="input-field col s12 select-custom">
      <i class="mdi-action-verified-user prefix"></i>
      <%= collection_select(:user, :role_id, Role.all, :id, :name_with_initial, {:prompt => 'Chọn role'}) %>
    </div>
   
    <div class="input-field col s12 center-align">
      <%= f.submit "Hoàn tất", :class => 'waves-effect btn w150' %>
    </div>
  </div>
<% end %>