<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="center-align">Chỉnh sửa #<%= @user.id %></h2>
            <div class="row">
              <div class="col s12">
                <div class="card-panel orange darken-1">
                  <span class="white-text">
                      Bạn có thể không cần cập nhật mật khẩu!
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
                <%= render 'form' %>
            </div>
            <a href="<%= users_path %>" class="waves-effect waves-light btn grey darken-3">
              <i class="mdi-hardware-keyboard-backspace"></i>
            </a>
        </div>
    </div>
</div>
