<div class="row">
    <div class="col s12">
        <h2 class="center-align">Danh sách người dùng</h2>
        <a href="<%= new_user_path %>" class="btn-floating btn-large waves-effect waves-light red tooltipped" data-position="top" data-delay="10" data-tooltip="Thêm người dùng">
            <i class="mdi-social-person-add"></i>
        </a>
        <table>
            <thead>
              <tr>
                  <th data-field="id">ID</th>
                  <th data-field="email">Email</th>
                  <th data-field="username">Tên đăng nhập</th>
                  <th data-field="fullname">Tên đầy đủ</th>
                  <th data-field="role">Role</th>
                  <th data-field="action">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= user.email %></td>
                  <td><%= user.username %></td>
                  <td><%= user.fullname %></td>
                  <td><%= user.role.name %></td>
                  <td>
                  <%= link_to 'Xem', user_path(user) %> /
                  <%= link_to 'Sửa', edit_user_path(user) %> /
                  <%= link_to 'Xóa', user_path(user),
                      method: :delete,
                      data: { confirm: 'Bạn có chắc không?' } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
        <div class="divider custom-divider"></div>
        <%= will_paginate @users %>
    </div>
</div>
