<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="center-align">Tài khoản #<%= @user.id %></h2>
            <table>
                <thead>
                  <tr>
                      <th data-field="id">ID</th>
                      <th data-field="email">Email</th>
                      <th data-field="username">Tên đăng nhập</th>
                      <th data-field="fullname">Tên đầy đủ</th>
                      <th data-field="rold">Role</th>
                      <th data-field="action">Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td><%= @user.id %></td>
                      <td><%= @user.email %></td>
                      <td><%= @user.username %></td>
                      <td><%= @user.fullname %></td>
                      <td><%= @user.role.name %></td>
                      <td>
                        <%= link_to 'Sửa', edit_user_path(@user) %> /
                        <%= link_to 'Xóa', user_path(@user),
                            method: :delete,
                            data: { confirm: 'Bạn có chắc không?' } %>
                      </td>
                    </tr>
                </tbody>
            </table>
            <a href="<%= users_path %>" class="waves-effect waves-light btn grey darken-3">
              <i class="mdi-hardware-keyboard-backspace"></i>
            </a>
        </div>
    </div>
</div>